

.features {

    margin-top: 300px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 50px;
    color: #ffffff;
}

.feature {
    text-align: center;
    padding: 20px;
    width: 30%;
    margin: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.contact {
    text-align: center;
    padding: 50px;
    background-color: #000000;
    color: #fff;
}