body {
    background-color: #00243C;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #00243C;
}

.EmailVerification {
    background-color: #FAFAFA;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60vh;
    width: 30vw;

    .row {
        align-items: center;
        display: flex;
        justify-content: center;
        gap: 1em;
        padding: 5px 0px;
    }

    .submit button {
        padding: 1.5vh 8vw;
        margin-top: 10px;
        background-color: #00243C;
        color: white;
        font-weight: bold;
        font-size: 20px;
        border-radius: 15px;
    }

    .resend-btn {
        padding: 1vh 5vw;
        margin: 10px;
        background-color: #1b4765;
        color: white;
        font-size: 15px;
        border-radius: 15px;
    }

    @media (max-width: 768px) {
        width: 70vw;
    }

    .signin {
        cursor: pointer;
        margin-top: 15px;
    }

    .copyright {
        color: gray;
        font-size: 15px;
        margin-top: 20px;
    }
}

input:not([type="checkbox"]) {
    padding: 7px;
    width: 100%;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 1px 10px 1px rgba(0, 0, 0, 0.1);
}

.error{
    background-color: gainsboro;
    color: red;
    font-size: 12px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2em;
    margin-top: 5px;
    padding: 5px;
    border-radius: 10px;

    .error-btn{
        color: black;
    }
}
.success{
    background-color: gainsboro;
    color: rgb(0, 103, 17);
    font-size: 12px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2em;
    margin-top: 5px;
    padding: 5px;
    border-radius: 10px;

    .error-btn{
        color: black;
    }
}