body{
  background-color: #00243C;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #00243C;
}

.TaskCreation{
  background-color: #FAFAFA;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
  width: 30vw;

  .row{
      align-items: center;
      justify-content: center;
      gap: 1em;
      padding: 10px 0px;
  }

  .create button{
      padding: 1.5vh 5vw;
      margin-top: 10px;
      background-color: #00243C;
      color: white;
      font-weight: bold;
      font-size: 20px;
      border-radius: 15px;
  }
  @media (max-width: 768px) {
      width: 70vw;
  }
  
}

textarea{
  font-family: Verdana, Geneva, Tahoma, sans-serif;

}
select{
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

button.createTaskButton {
  background-color: #00243C;
  color: #fff;
  border: none;
  width: 100%;
  font-weight: bold;
  align-items: center;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  margin: 10px;

}
    