body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  .TaskCreation {
    width: 600px; 
    margin: 0 auto; 
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

  }
  
  .row {
    margin-bottom: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  /* textarea {
    width: 100%;
    height: 80px;
    resize: vertical;
  } */
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input,
  select
  {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
  }
  .createTaskButton{
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
  }
  button {
    background-color: #00243C;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #00192E;
  }