*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.page{
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-color: rgb(2, 2, 29);
    position: absolute;
}

.form-box{
    width: 380px;
    height: 480px;
    position: relative;
    margin: 6% auto;
    background: white;
    padding: 5px;
    border-radius: 20px;
}

/* login title */
.page-name{ 
    text-align: center;
    color: rgb(2, 2, 29);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 10px;
}

.button-box{
    width: 220px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 50px 10px rgb(178, 178, 199);
    border-radius: 30px;
}

/* login */
.toggle-btn{ 
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* signup*/
.toggle-btn-two{ 
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
    color: rgb(2, 2, 29);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* the fill inside login/signup */
#btn{ 
    top: 0;
    bottom: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: rgb(2, 2, 29);
    border-radius: 30px;
    transition: .5s;
}

/* username, pass, forgot pass, submit fields */
.input-group{
    top: 180px;
    position: absolute;
    width: 280px;
    transition: .5s;
}

/* username, email fields */
.input-field{
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}

/* submit button */
.submit-btn{
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin-top: 40px;
    margin-left: 25px;
    background: rgb(2, 2, 29);
    color: white;
    border: 0;
    outline: none;
    border-radius: 30px;
}

#login{
    left: 50px;
}

.forgot{
    font-size: 12px;
    position: absolute;
    padding-left: 0;
    padding-top: 7px;
}

.rememberme{
    margin-top: 240px;
    margin-left: 125px;
}

.copyright{
    font-size: 65%;
    padding-top: 80px;
    padding-left: 125px;
}
