.taskList{
    background-color: #FAFAFA;
    border-radius: 10px;
    width: 88vw;
    z-index: 0;
    position: relative;
    height: 90vh;
}
.taskList .css-ptkaw2-MuiDataGrid-root{
    border-style: none;
}

.taskLink{
    cursor: pointer;
    background-color: #00243C;
    border-color : #00243C;
    color: white;
    /* font-family: ; */
    font-weight: bold;
    border-radius: 10px;

}

.criticalLabel{
    background-color: red;
    font-weight: bold;
    border-radius: 10px;
    padding: 1vh;
}

.majorLabel{
    background-color: lightcoral;
    font-weight: bold;
    border-radius: 10px;
    padding: 1vh;
}

.mediumLabel{
    background-color: orange;
    font-weight: bold;
    border-radius: 10px;
    padding: 1vh;
}

.minorLabel{
    background-color: yellow;
    font-weight: bold;
    border-radius: 10px;
    padding: 1vh;
}


.statusLabel{
    background-color: chartreuse;
    font-weight: bold;
    border-radius: 10px;
    padding: 1vh;
}

.pointsLabel{
    /* background-color: chartreuse; */
    font-weight: bold;
    border-radius: 10px;
    padding: 1vh;
}

.blankLabel{
    /* background-color: chartreuse; */
    align-items: center;
    font-weight: bold;
    border-radius: 10px;
    padding: 1vh;
}


.taskLabel{
    background-color: white;
    border-style: solid;
    border-width: 0.001vw;
    border-color: black;
    align-items: center;
    font-weight: bold;
    border-radius: 10px;
    padding: 1vh;
    flex-wrap: wrap;
}

.spacingLabel{
    /* background-color: white; */
    /* border-style: solid; */
    /* border-width: 0.001vw; */
    /* border-color: black; */
    align-items: center;
    font-weight: bold;
    border-radius: 1px;
    padding: 0.5vh;
}

.tableHeaderBreak{
    line-height:20px;
    display: block;
    /* margin: 10px 0; */
}
.create-task-btn{
    cursor: pointer;
    padding: 10px 20px; 
    font-weight: bold;
    color: #FAFAFA;
    background-color: #00243C;
    border: none;
    border-radius: 10px;
}