.ForgotPassword {
    background-color: #FAFAFA;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60vh;
    width: 30vw;
  }
  
  .ForgotPassword .row {
    display: flex;
    justify-content: center;
    padding: 5px 0;
  }
  
  .ForgotPassword .submit button {
    padding: 1.5vh 10vw;
    margin-top: 10px;
    background-color: #00243C;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
  }
  
  .ForgotPassword input {
    padding: 7px;
    width: 100%;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 1px 10px 1px rgba(0, 0, 0, 0.1);
  }
  
  @media (max-width: 768px) {
    .ForgotPassword {
      width: 70vw;
    }
  }
  