body{
  background-color: #00243C;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #00243C;
}

.ForgotPassword{
  background-color: #FAFAFA;
  border-radius: 30px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60vh;
  width: 30vw;

  .row{
      align-items: center;
      display: flex;
      justify-content: center;
      gap: 1em;
      padding: 5px 0px;
  }

  .copyright{
    color: gray;
    font-size: 15px;
    position: absolute;
    bottom: 5px;
  }
  .signin{
    cursor: pointer;
    margin-top: 15px;
  }

  .submit button{
      padding: 1.5vh 8vw;
      margin-top: 10px;
      background-color: #00243C;
      color: white;
      font-weight: bold;
      font-size: 20px;
      border-radius: 15px;
  }
  @media (max-width: 768px) {
      width: 70vw;
  }
  /* forgot password css to be moved to login.css*/
  .forgot-password {
      margin-top: 15px;
      text-align: center;
  }
    
  .forgot-password a {
      color: #007bff;
      text-decoration: none;
      font-size: 15px;
  }
    
  .forgot-password a:hover {
      text-decoration: underline;
  }
}
input:not([type="checkbox"]){
  padding: 7px;
  width: 100%;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 1px 10px 1px rgba(0, 0, 0, 0.1);
}
