body{
    background-color: #00243C;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #00243C;
}

.ProjectCreation{
    background-color: #FAFAFA;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60vh;
    width: 30vw;

    .row{
        align-items: center;
        display: flex;
        justify-content: center;
        gap: 1em;
        padding: 5px 0px;


    }

    .create button{
        padding: 1.5vh 10vw;
        margin-top: 10px;
        background-color: #00243C;
        color: white;
        font-weight: bold;
        font-size: 20px;
        border-radius: 15px;
    }
    @media (max-width: 768px) {
        width: 70vw;
    }
    
}

.error{
    background-color: gainsboro;
    color: red;
    font-size: 12px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2em;
    margin-top: 5px;
    padding: 5px;
    border-radius: 10px;

    .error-btn{
        color: black;
    }
}